@{
    ViewData["Title"] = "Email Confirmation Success";
}

<div class="container mt-5">
    <div class="card text-center">
        <div class="card-header">
            <h1>Email Confirmation</h1>
        </div>
        <div class="card-body">
            <h5 class="card-title">Thank You!</h5>
            <p class="card-text">Your email has been successfully confirmed.</p>
            <a asp-controller="Account" asp-action="Login" class="btn btn-success">Login To Your New Account</a>
        </div>
    </div>
</div>

