@{
    ViewData["Title"] = "Admin Dashboard";
}

<div class="card mt-4">
    <div class="card-header">
        <h2 class="card-title">Admin Panel</h2>
    </div>

    <!--Reports-->
    <div class="card-body mb-4">
        <div class="card">
            <div class="card-header">
                <h3 class="card-title text-center">Reports</h3>
            </div>
            <div class="card-body">
                <div class="row">
                    <div class="col-md-4 mb-2">
                        <a href="#" class="btn btn-primary w-100">Game List Report</a>
                    </div>
                    <div class="col-md-4 mb-2">
                        <a href="#" class="btn btn-primary w-100">Game Detail Report</a>
                    </div>
                    <div class="col-md-4 mb-2">
                        <a href="#" class="btn btn-primary w-100">Member List Report</a>
                    </div>
                    <div class="col-md-4 mb-2">
                        <a href="#" class="btn btn-primary w-100">Member Detail Report</a>
                    </div>
                    <div class="col-md-4 mb-2">
                        <a href="#" class="btn btn-primary w-100">Wish List Report</a>
                    </div>
                    <div class="col-md-4 mb-2">
                        <a href="#" class="btn btn-primary w-100">Sales Report</a>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="container">
        <div class="row mb-4">
            <!--Games-->
            <div class="col-lg-3 col-md-6 mb-4">
                <div class="card">
                    <div class="card-header">
                        <h3 class="card-title text-center">Manage Games</h3>
                    </div>
                    <div class="card-body">
                        <div class="row">
                            <div class="col-12 mb-2">
                                <a href="#" class="btn btn-success w-100">Add New Games</a>
                            </div>
                            <div class="col-12 mb-2">
                                <a href="#" class="btn btn-primary w-100">Edit Game Details</a>
                            </div>
                            <div class="col-12 mb-2">
                                <a href="#" class="btn btn-warning w-100">Change Availability</a>
                            </div>
                            <div class="col-12 mb-2">
                                <a href="#" class="btn btn-danger w-100">Remove From Catalogue</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <!--Events-->
            <div class="col-lg-3 col-md-6 mb-4">
                <div class="card">
                    <div class="card-header">
                        <h3 class="card-title text-center">Manage Events</h3>
                    </div>
                    <div class="card-body">
                        <div class="row">
                            <div class="col-12 mb-2">
                                <a href="#" class="btn btn-success w-100">Add Event</a>
                            </div>
                            <div class="col-12 mb-2">
                                <a href="#" class="btn btn-primary w-100">Edit Event</a>
                            </div>
                            <div class="col-12 mb-2">
                                <a href="#" class="btn btn-warning w-100">Cancel Event</a>
                            </div>
                            <div class="col-12 mb-2">
                                <a href="#" class="btn btn-danger w-100">Delete Event</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <!--Reviews-->
            <div class="col-lg-3 col-md-6 mb-4">
                <div class="card">
                    <div class="card-header">
                        <h3 class="card-title text-center">Manage Reviews</h3>
                    </div>
                    <div class="card-body">
                        <div class="row">
                            <div class="col-12 mb-2">
                                <a href="#" class="btn btn-success w-100">Approve Reviews</a>
                            </div>
                            <div class="col-12 mb-2">
                                <a href="#" class="btn btn-danger w-100">Delete Reviews</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <!--Support-->
            <div class="col-lg-3 col-md-6 mb-4">
                <div class="card">
                    <div class="card-header">
                        <h3 class="card-title text-center">User Support</h3>
                    </div>
                    <div class="card-body">
                        <div class="row">
                            <div class="col-12 mb-2">
                                <a href="#" class="btn btn-info w-100">View User Feedback</a>
                            </div>
                            <div class="col-12 mb-2">
                                <a href="#" class="btn btn-info w-100">Respond to Support Tickets</a>
                            </div>
                            <div class="col-12 mb-2">
                                <a href="#" class="btn btn-info w-100">Manage FAQs</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>


</div>
